.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 270px;
	min-height: 74px;
	padding: 25px;
	color: #fff;
	font-size: 18px;
	font-family: var(--font-secondary);
	line-height: 1.2;
	background: transparent;
	border: 1px solid var(--fc-light);
	transition: var(--transition);

	@include sm {
		min-height: 50px;
		padding: 10px 25px;
		font-size: 14px;
	}

	@media (hover: hover) {

		&:hover {
			border-color: var(--primary);

			.btn__dial {
				color: var(--primary);
			}
		}

		&:active {
			opacity: 0.8;
		}
	}

	&--dial {
		position: relative;
		padding: 25px 85px 25px 40px;

		@include sm {
			padding: 10px 40px 10px 25px;
		}
	}

	&--dark {
		color: var(--fc-dark);
		border-color: var(--fc-dark);

		@media (hover: hover) {

			&:hover {
				border-color: var(--emphasis);

				.btn__dial {
					color: var(--bg-primary);
				}
			}
		}

		.btn__dial {
			background-color: var(--bg-light);
		}
	}

	&--black {
		color: var(--bg-light);
		background-color: var(--fc-dark);
		border-color: transparent;

		@media (hover: hover) {

			&:hover {
				border-color: transparent;
				opacity: 0.9;
			}
		}
	}

	&__dial {
		position: absolute;
		top: 50%;
		right: -30px;
		width: fit-content;
		height: 110%;
		color: var(--fc-grey);
		background-color: var(--bg-primary);
		border-radius: 50%;
		transform: translateY(-50%);

		svg {
			width: auto;
			height: 100%;
			transition: var(--transition);
		}
	}
}

.btn-dial {
	width: auto;
	height: 42px;
	padding: 0;
	color: var(--fc-grey);
	background: none;
	border: none;
	transition: var(--transition);

	@media (hover: hover) {

		&:hover {
			color: var(--emphasis);
			transform: scale(1.03);
		}

		&:active {
			transform: scale(1);
			opacity: 0.8;
		}
	}

	&--light {
		color: #fff;

		@media (hover: hover) {

			&:hover {
				color: var(--primary);
			}
		}
	}
}

.btn-arrow {
	width: fit-content;
	height: fit-content;
	padding: 0;
	color: var(--fc-grey);
	background: none;
	border: none;
	transition: var(--transition);

	@media (hover: hover) {

		&:hover {
			color: var(--emphasis);
			transform: scale(1.02);
		}
	}
}

.btn-fav {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	padding: 0;
	background: #fff;
	border: none;
	border-radius: 50%;

	&.active {

		svg {
			animation: heart-pulse 0.4s ease-out;
			fill: var(--emphasis);
		}
	}

	svg {
		flex-shrink: 0;
		fill: none;
	}
}

.btn-play {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 20%;
	height: auto;
	aspect-ratio: 1/1;
	background: none;
	border: none;
	transform: translate(-50%, -50%);
	transition: var(--transition);

	@media (hover: hover) {

		&:hover {
			transform: translate(-50%, -50%) scale(1.04);
		}
	}

	svg {
		width: 100%;
		height: 100%;
		color: var(--primary);
		transition: var(--transition);
	}
}

@keyframes heart-pulse {

	0% {
		transform: scale(0);
	}

	70% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}
