.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 270px;
	min-height: 74px;
	padding: 25px;
	color: #fff;
	font-size: 18px;
	font-family: var(--font-secondary);
	line-height: 1.2;
	background: transparent;
	border: 1px solid var(--fc-light);
	transition: var(--transition);

	@include sm {
		min-height: 50px;
		padding: 10px 25px;
		font-size: 14px;
	}

	@media (hover: hover) {

		&:hover {
			border-color: var(--primary);

			.btn__dial {
				color: var(--primary);
			}
		}

		&:active {
			opacity: 0.8;
		}
	}

	&--dial {
		position: relative;
		padding: 25px 85px 25px 40px;

		@include sm {
			padding: 10px 40px 10px 25px;
		}
	}

	&--dark {
		color: var(--fc-dark);
		border-color: var(--fc-dark);

		@media (hover: hover) {

			&:hover {
				border-color: var(--emphasis);

				.btn__dial {
					color: var(--bg-primary);
				}
			}
		}

		.btn__dial {
			background-color: var(--bg-light);
		}
	}

	&__dial {
		position: absolute;
		top: 50%;
		right: -30px;
		width: fit-content;
		height: 110%;
		color: var(--fc-grey);
		background-color: var(--bg-primary);
		border-radius: 50%;
		transform: translateY(-50%);

		svg {
			width: auto;
			height: 100%;
			transition: var(--transition);
		}
	}
}

.btn-dial {
	width: auto;
	height: 42px;
	padding: 0;
	color: var(--fc-grey);
	background: none;
	border: none;
	transition: var(--transition);

	@media (hover: hover) {

		&:hover {
			color: var(--emphasis);
			transform: scale(1.03);
		}

		&:active {
			transform: scale(1);
			opacity: 0.8;
		}
	}

	&--light {
		color: #fff;

		@media (hover: hover) {

			&:hover {
				color: var(--primary);
			}
		}
	}
}

.btn-arrow {
	width: fit-content;
	height: fit-content;
	padding: 0;
	color: var(--fc-grey);
	background: none;
	border: none;
	transition: var(--transition);

	@media (hover: hover) {

		&:hover {
			color: var(--emphasis);
			transform: scale(1.02);
		}
	}
}
