.cart {
	margin-top: 60px;

	@include md {
		margin-top: 45px;
	}

	@include xs {
		margin-top: 30px;
	}

	&__form {
		display: flex;
		gap: 40px;
		justify-content: space-between;

		@include md {
			flex-direction: column;
			gap: 30px;
		}

		@include xs {
			gap: 20px;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 40px;
		width: 100%;
		max-width: 1140px;

		@include md {
			gap: 30px;
		}

		@include xs {
			gap: 20px;
		}
	}

	&__item {
		position: relative;
		display: grid;
		grid-template-columns: 1.5fr 2fr auto;
		gap: 30px 70px;
		padding: 40px;
		background-color: #fff;
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);

		@include hg {
			gap: 20px 40px;
		}

		@include lg {
			grid-template-columns: 1fr 2fr;
		}

		@include xs {
			grid-template-columns: 40px 1fr;
			gap: 0 45px;
			padding: 20px;
		}
	}

	&__item-buttons {
		position: absolute;
		top: 40px;
		right: 40px;
		display: flex;
		gap: 20px;
		align-items: center;

		@include xs {
			position: static;
			grid-column: span 2;
			justify-content: flex-end;
			margin-bottom: 25px;
		}
	}

	&__item-fav {
		width: fit-content;
		height: fit-content;
		background: none;
	}

	&__item-remove {
		width: 18px;
		height: 18px;
		background: url(assets/images/icon-trash-can.svg) no-repeat 50% / contain;
	}

	&__item-thumbnail {
		display: flex;
		grid-row: span 2;
		grid-column: 1/2;
		align-items: center;
		justify-content: center;
		background: url(assets/images/icon-dial-thin.svg) no-repeat 50% / contain;

		@include lg {
			grid-row: span 4;
			background: none;
			filter: drop-shadow(0 15px 10px rgba(#000, 0.4));
		}

		@include xs {
			grid-row: span 2;
			filter: drop-shadow(0 5px 10px rgba(#000, 0.4));
		}
	}

	&__item-label {
		position: relative;
		align-self: center;
		padding-bottom: 25px;

		@include lg {
			padding-right: 75px;
		}

		@include xs {
			align-self: auto;
			padding: 0;
		}

		&::before {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 50px;
			height: 1px;
			background: var(--fc-grey);
			content: "";

			@include xs {
				display: none;
			}
		}

		a {
			font-size: 24px;
			font-family: var(--font-secondary);
			@include ui-link(var(--fc-dark));

			@include lg {
				font-size: 20px;
			}

			@include xs {
				font-size: 18px;
			}
		}
	}

	&__item-price {
		align-self: center;
		font-weight: 300;
		font-size: 24px;
		text-align: center;

		@include lg {
			align-self: start;
			font-size: 20px;
			text-align-last: left;
		}

		@include xs {
			grid-row: 2/3;
			grid-column: 2/3;
			align-self: end;
			font-size: 16px;
		}
	}

	&__attributes {
		display: flex;
		flex-direction: column;
		gap: 20px;

		@include lg {
			gap: 10px;
		}

		@include xs {
			grid-column: span 2;
			margin-top: 25px;
		}
	}

	&__attributes-item {
		display: flex;
		flex-wrap: wrap;
		gap: 15px;
		align-items: center;
		justify-content: space-between;
		font-weight: 300;
	}

	&__attributes-links {
		margin-left: auto;
		font-weight: 500;

		a {
			@include ui-link(var(--fc-dark));
		}
	}

	&__attributes-color {
		display: inline-block;
		width: 28px;
		height: 28px;
		border-radius: 50%;
	}

	&__item-quantity {
		display: flex;
		flex-direction: column;
		gap: 20px;
		align-items: center;
		width: fit-content;

		@include lg {
			flex-direction: row;
			justify-content: space-between;
			width: 100%;
		}

		@include xs {
			grid-column: span 2;
			gap: 10px;
			width: 100%;
			margin-top: 40px;
		}

		.quantity {

			@include lg {
				order: 1;
				margin: 0;
			}

			@include xs {
				order: 0;
			}

			&__btn {

				@include xs {
					width: 35px;
					height: 35px;
				}
			}
		}
	}

	&__item-subtotal {
		font-weight: 700;
		font-size: 24px;

		@include lg {
			margin-top: 10px;
			font-size: 20px;
		}

		@include xs {
			margin: 0;
		}
	}

	&__actions {
		display: none;
	}

	&__totals {

		@include hg {
			max-width: 350px;
		}

		@include md {
			order: -1;
			max-width: none;
		}
	}
}
