.footer {
	margin-top: 70px;
	padding: 15px 0 55px;
	font-weight: 300;
	border-top: 1px solid var(--fc-grey);

	@include xs {
		margin-top: 0;
		padding: 40px 0 70px;
		border: none;
	}

	&__container {
		display: grid;
		grid-template-columns: 1fr 1.5fr 230px;
		gap: 80px;

		@include hg {
			gap: 60px;
		}

		@include lg {
			grid-template-columns: 1fr 2fr;
			row-gap: 30px;
		}

		@include md {
			display: flex;
			flex-direction: column;
			gap: 50px;
		}
	}

	&__info {
		@include md {
			order: 1;
		}

		@include xs {
			padding-top: 30px;
			border-top: 1px solid var(--fc-grey);
		}
	}

	&__link {
		display: block;
		width: 140px;
		height: auto;
		aspect-ratio: 134 / 72;
		background: url(assets/images/logo-main--dark.svg) no-repeat 50% / contain;
		cursor: pointer;
	}

	&__text {
		max-width: 450px;
		margin-top: 15px;

		@include md {
			max-width: none;
		}
	}

	&__socials {
		margin-top: 30px;
	}

	&__links {
		display: grid;
		grid-template-columns: 200px 1fr;
		gap: 40px;

		@include md {
			grid-template-columns: 1fr 2fr;
		}

		@include xs {
			display: flex;
			flex-direction: column;
			gap: 50px;
		}
	}

	&__label {
		margin: 30px 0;
		font-weight: 400;
		font-size: 20px;
		font-family: var(--font-secondary);

		@include sm {
			margin: 0 0 30px;
		}
	}

	&__menu {
		display: flex;
		flex-direction: column;
		gap: 10px;

		.menu-item {

			> a {
				@include ui-link(var(--fc-dark));
			}
		}
	}

	&__tabs {
		display: flex;
		gap: 20px;
		align-items: center;
	}

	&__tab {
		cursor: pointer;

		&.active {
			font-weight: 700;
			cursor: default;
		}
	}

	&__cats-wrapper {
		position: relative;
	}

	&__cats {
		position: absolute;
		top: 0;
		left: 0;
		display: none;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 10px 90px;
		width: 100%;

		@include hg {
			grid-template-columns: 1fr 1fr;
			gap: 10px 30px;
			justify-content: space-between;
		}

		@include lg {
			grid-template-columns: 1fr 1fr 1fr;
		}

		@include sm {
			grid-template-columns: 1fr 1fr;
		}

		&.active {
			position: static;
			display: grid;
			animation: footer-cats-show 0.4s ease-in;
		}
	}

	&__cat {
		@include ui-link(var(--fc-dark));
	}

	&__contact-us {
		@include lg {
			display: flex;
			grid-column: span 2;
			gap: 60px;
		}

		@include xs {
			flex-direction: column;
			gap: 30px;
			padding-top: 30px;
			border-top: 1px solid var(--fc-grey);
		}

		.footer__label {
			@include lg {
				margin: 0;
			}
		}
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		gap: 5px;

		a {
			font-weight: 700;
			@include ui-link(var(--fc-dark));
		}
	}

	&__emails {
		margin-top: 40px;

		@include lg {
			margin: 0;
		}
	}
}

@keyframes footer-cats-show {

	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
