.footer {
	margin-top: 70px;
	padding: 30px 0 55px;
	font-weight: 300;
	border-top: 1px solid var(--fc-grey);

	@include xs {
		margin-top: 0;
		padding: 40px 0 70px;
		border: none;
	}

	&__container {
		display: grid;
		grid-template-columns: 1fr 1.5fr 230px;
		gap: 60px;

		@include md {
			grid-template-columns: auto 1fr auto;
		}

		@include sm {
			grid-template-columns: 1fr 1fr;
			gap: 30px;
		}

		@include xs {
			display: flex;
			flex-direction: column;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: 30px;

		@include sm {
			flex-direction: row;
			grid-column: span 2;
			align-items: flex-end;
			justify-content: space-between;
			order: 1;
		}

		@include xs {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding-top: 30px;
			border-top: 1px solid var(--fc-grey);
		}
	}

	&__link {
		display: block;
		width: 140px;
		height: auto;
		aspect-ratio: 134 / 72;
		background: url(assets/images/logo-main--dark.svg) no-repeat 50% / contain;
		cursor: pointer;
	}

	&__label {
		font-weight: 400;
		font-size: 20px;
		font-family: var(--font-secondary);
	}

	&__menu-wrapper,
	&__contact-us {
		display: flex;
		flex-direction: column;
		gap: 30px;

		@include xs {
			align-items: center;
			justify-content: center;
			text-align: center;
		}
	}

	&__menu {
		display: flex;
		flex-direction: column;
		gap: 10px;

		.menu-item {

			> a {
				@include ui-link(var(--fc-dark));
			}
		}
	}

	&__contact-us {
		@include sm {
			margin-left: auto;
			text-align: right;
		}

		@include xs {
			margin-left: 0;
			padding-top: 30px;
			border-top: 1px solid var(--fc-grey);
		}
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		gap: 5px;

		a {
			font-weight: 700;
			@include ui-link(var(--fc-dark));
		}
	}
}
