.input {
	width: 100%;
	min-height: 74px;
	padding: 25px;
	color: var(--fc-dark);
	font-size: 18px;
	font-family: var(--font-secondary);
	background: transparent;
	border: 1px solid var(--fc-grey);
	outline: none;
	transition: var(--transition);

	@include sm {
		min-height: 50px;
		padding: 10px 25px;
		font-size: 14px;
	}

	&:hover,
	&:focus {
		border-color: var(--fc-dark);
		outline: none;
	}

	&:invalid {
		color: var(--emphasis);
		border-color: var(--emphasis);
	}
}

.fieldset {
	position: relative;
	width: 100%;
	min-height: 74px;
	margin: -7px 0 0;
	padding: 10px 25px 15px;
	background: none;
	border: 1px solid var(--fc-grey);
	transition: var(--transition);

	@include sm {
		min-height: 50px;
	}

	@include xs {
		padding: 10px 15px 15px;
	}

	legend {
		padding: 0 10px;
		color: var(--fc-dark);
		font-size: 14px;
		font-family: var(--font-primary);

		@include xs {
			font-size: 12px;
		}

		span {
			color: var(--fc-grey);
		}
	}

	input {
		width: 100%;
		height: 100%;
		padding: 0;
		font-size: 18px;
		background: transparent;
		border: none;
		outline: none;

		@include sm {
			font-size: 14px;
		}

		&:hover,
		&:focus {
			border: none;
			outline: none;
		}
	}

	&--light {

		legend {
			color: var(--fc-light);
		}

		input {
			color: var(--fc-light);
		}
	}
}

.radio,
.checkbox {
	display: flex;
	gap: 12px;
	align-items: center;
	font-weight: 300;
	font-size: 14px;

	@include mouse {

		&:hover {

			.radio__switcher,
			.checkbox__switcher {
				border-color: var(--fc-dark);
			}
		}
	}

	&__input {
		display: none;
		appearance: none;
	}

	&__switcher {
		position: relative;
		flex-shrink: 0;
		width: 30px;
		height: 30px;
		background: #fff;
		cursor: pointer;
		transition: var(--transition);

		@include xs {
			width: 24px;
			height: 24px;
		}
	}
}

.radio {

	&__switcher {
		border: 1px solid transparent;
		border-radius: 50%;

		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 12px;
			height: 12px;
			background: var(--fc-dark);
			border-radius: 50%;
			transform: translate(-50%, -50%) scale(0);
			visibility: hidden;
			transition: var(--transition);
			content: "";

			@include xs {
				width: 10px;
				height: 10px;
			}
		}
	}

	&__input:checked + &__switcher::before {
		transform: translate(-50%, -50%) scale(1);
		visibility: visible;
	}
}

.checkbox {

	&__switcher {
		border: 1px solid var(--fc-grey);

		&::before {
			position: absolute;
			top: 40%;
			left: 50%;
			width: 14px;
			height: 7px;
			border-bottom: 2px solid var(--fc-light);
			border-left: 2px solid var(--fc-light);
			transform: translate(-50%, -50%) rotate(-45deg);
			visibility: hidden;
			opacity: 0;
			content: "";

			@include xs {
				width: 10px;
				height: 5px;
			}
		}
	}

	&__input:checked + &__switcher {
		background: var(--fc-dark);
		border: 1px solid var(--fc-dark);
	}

	&__input:checked + &__switcher::before {
		visibility: visible;
		opacity: 1;
	}
}

.policy {
	color: var(--fc-light);
	font-weight: 300;
	font-size: 14px;

	a {
		font-weight: 400;
		@include ui-link(var(--fc-light));
	}
}
