.input {
	width: 100%;
	min-height: 74px;
	padding: 25px;
	color: var(--fc-dark);
	font-size: 18px;
	font-family: var(--font-secondary);
	background: transparent;
	border: 1px solid var(--fc-grey);
	outline: none;
	transition: var(--transition);

	&:hover,
	&:focus {
		border-color: var(--fc-dark);
		outline: none;
	}

	&:invalid {
		color: var(--emphasis);
		border-color: var(--emphasis);
	}
}
