.mailing {

	&__content {
		position: relative;
		padding: 135px 0 260px;
		background: url(assets/images/mailing-bg.jpg) no-repeat 50% / cover;

		@include md {
			padding: 100px 0 150px;
		}

		@include xs {
			padding: 60px 0;
		}

		&::before {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 40%;
			background: linear-gradient(to top, #000 0%, rgba(#000, 0) 100%) no-repeat;
			content: "";
		}
	}

	&__wrapper {
		max-width: 710px;
		margin-left: auto;

		@include hg {
			max-width: 600px;
		}

		@include md {
			margin: 0 auto;
		}
	}

	&__title {
		margin: 0;
		color: var(--fc-light);
		font-weight: 400;
		font-size: 48px;
		font-family: var(--font-secondary);
		line-height: 1.3;
		letter-spacing: 2.5;
		text-align: center;

		@include hg {
			font-size: 36px;
		}

		@include md {
			text-shadow: 3px 3px 3px var(--fc-dark);
		}

		@include xs {
			font-size: 24px;
		}

		span {
			color: var(--primary);
		}
	}

	&__message {
		margin-top: 30px;
		color: var(--fc-light);
		font-weight: 300;
		font-size: 20px;
		text-align: center;

		@include hg {
			font-size: 16px;
		}

		@include md {
			text-shadow: 3px 3px 3px var(--fc-dark);
		}

		span {
			font-weight: 700;
		}
	}

	&__form {
		display: grid;
		grid-template-columns: 1fr 270px;
		gap: 50px 20px;
		margin-top: 50px;

		@include xs {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}
	}

	&__policy {
		grid-column: 1/3;
		max-width: 470px;
		margin: 0 auto;
		text-align: center;

		@include hg {
			font-size: 12px;
		}

		@include md {
			text-shadow: 3px 3px 3px var(--fc-dark);
		}
	}
}
