.socials {
	display: flex;
	gap: 25px;
	align-items: center;

	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		transition: var(--transition);

		@include mouse {

			&:hover {
				transform: translateY(-3px);
			}
		}
	}
}
