.woocommerce {

	.woocommerce-notices-wrapper {
		display: none;
	}

	.loader {

		&::before {
			background: url(assets/images/icon-loading.svg) no-repeat center center;
		}
	}

	.blockUI.blockOverlay {
		background: rgba(#ebeaef, 0.5) !important;
		opacity: 1 !important;

		&::before {
			background: url(assets/images/icon-loading.svg) no-repeat center center;
		}
	}

	.quantity {

		.qty {
			width: 60px;
		}
	}

	.collection-card__img {
		height: 100%;
	}

	.collection-card__brand {
		height: 40px;
	}

	.catalog__ordering {
		float: none;
		margin: 0 0 0 auto;

		@include sm {
			margin: 0;
		}
	}

	.product {
		padding: 0;
	}

	form .check__payment label.checkbox {
		display: flex;
	}

	.woocommerce-cart #payment,
	.woocommerce-checkout #payment {
		background: #fff;
	}
}

.woocommerce-page {

	.collection-card__img {
		height: 100%;
	}

	form .check__payment label.checkbox {
		display: flex;
	}
}

.select2-dropdown {
	margin-top: 10px;
	color: var(--fc-dark);
	border: 1px solid var(--fc-grey) !important;
}
