.woocommerce {

	.woocommerce-notices-wrapper {
		display: none;
	}

	.woocommerce-NoticeGroup-checkout {
		grid-column: span 2;

		.woocommerce-error {
			display: flex;
			flex-direction: column;
			gap: 15px;
			margin: 0 0 50px;
			padding: 20px 20px 20px 50px;
			background-color: #fff;
			border: none;

			@include md {
				margin: 50px 0 0;
			}

			@include xs {
				gap: 10px;
				margin: 30px 0 0;
				padding: 35px 10px 20px;
				font-size: 12px;
			}

			&::before {
				top: 20px;
				color: var(--emphasis);

				@include xs {
					top: 10px;
					left: 10px;
				}
			}

			&::after {
				display: none;
			}

			li {
				color: var(--fc-dark);
			}
		}
	}

	.loader {

		&::before {
			background: url(assets/images/icon-loading.svg) no-repeat center center;
		}
	}

	.blockUI.blockOverlay {
		background: rgba(#ebeaef, 0.5) !important;
		opacity: 1 !important;

		&::before {
			background: url(assets/images/icon-loading.svg) no-repeat center center;
		}
	}

	.quantity {

		.qty {
			width: 60px;
		}
	}

	.collection-card__img {
		height: 100%;
	}

	.collection-card__brand {
		height: 40px;
	}

	.catalog__ordering {
		float: none;
		margin: 0 0 0 auto;

		@include sm {
			margin: 0;
		}
	}

	.product {
		padding: 0;
	}

	form .check__payment label.checkbox {
		display: flex;
	}

	.woocommerce-cart #payment,
	.woocommerce-checkout #payment {
		background: #fff;
	}
}

.woocommerce-page {

	.collection-card__img {
		height: 100%;
	}

	form .check__payment label.checkbox {
		display: flex;
	}
}

.select2-dropdown {
	margin-top: 10px;
	color: var(--fc-dark);
	border: 1px solid var(--fc-grey) !important;
}
