.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 270px;
	min-height: 74px;
	padding: 25px;
	color: #fff;
	font-size: 18px;
	font-family: Playfair, serif;
	line-height: 1.2;
	text-decoration: none;
	background: transparent;
	border: 1px solid #ededeb;
	transition: all 0.3s ease;
}

.btn--dark {
	color: #202020;
	border-color: #202020;
}
